<div class="container">
  <div class="row">
    <div class="col">
    Linha 1 - Coluna 1
    </div>
    <div class="col">
    Linha 1 - Coluna 2
    </div>
    <div class="col">
    Linha 1 - Coluna 3
    </div>
    <div class="col">
    Linha 1 - Coluna 4
    </div>
    <div class="col">
    Linha 1 - Coluna 5
    </div>
    <div class="col">
    Linha 1 - Coluna 6
</div>
  <!-- LINHA 2 -->
  <div class="container">
  <div class="row">
    <div class="col">
    Linha 2 - Coluna 1
    </div>
    <div class="col">
    Linha 2 - Coluna 2
    </div>
    <div class="col">
    Linha 2 - Coluna 3
    </div>
    <div class="col">
    Linha 2 - Coluna 4
    </div>
    <div class="col">
    Linha 2 - Coluna 5
    </div>
    <div class="col">
    Linha 2 - Coluna 6
</div>

 <!-- LINHA 3 -->
  <div class="container">
  <div class="row">
    <div class="col">
    Linha 3- Coluna 1
    </div>
    <div class="col">
    Linha 3 - Coluna 2
    </div>
    <div class="col">
    Linha 3 - Coluna 3
    </div>
    <div class="col">
    Linha 3 - Coluna 4
    </div>
    <div class="col">
    Linha 3 - Coluna 5
    </div>
    <div class="col">
    Linha 3 - Coluna 6
</div>

<!-- LINHA 4 -->
  <div class="container">
  <div class="row">
    <div class="col">
    Linha 4- Coluna 1
    </div>
    <div class="col">
    Linha 4 - Coluna 2
    </div>
    <div class="col">
    Linha 4 - Coluna 3
    </div>
    <div class="col">
    Linha 4 - Coluna 4
    </div>
    <div class="col">
    Linha 4 - Coluna 5
    </div>
    <div class="col">
    Linha 4 - Coluna 6
</div>
<!-- LINHA 5 -->
  <div class="container">
  <div class="row">
    <div class="col">
    Linha 5- Coluna 1
    </div>
    <div class="col">
    Linha 5 - Coluna 2
    </div>
    <div class="col">
    Linha 5 - Coluna 3
    </div>
    <div class="col">
    Linha 5 - Coluna 4
    </div>
    <div class="col">
    Linha 5 - Coluna 5
    </div>
    <div class="col">
    Linha 5 - Coluna 6
</div>
<!-- LINHA 6 -->
  <div class="container">
    
  <div class="row">
    <div class="col">
    Linha 6- Coluna 1
    </div>
    <div class="col">
    Linha 6 - Coluna 2
    </div>
    <div class="col">
    Linha 6 - Coluna 3
    </div>
    <div class="col">
    Linha 6 - Coluna 4
    </div>
    <div class="col">
    Linha 6 - Coluna 5
    </div>
    <div class="col">
    Linha 6 - Coluna 6
</div>
<!-- LINHA 7-->
  <div class="container">

  <div class="row">
    <div class="col">
    Linha 7- Coluna 1
    </div>
    <div class="col">
    Linha 7 - Coluna 2
    </div>
    <div class="col">
    Linha 7 - Coluna 3
    </div>
    <div class="col">
    Linha 7 - Coluna 4
    </div>
    <div class="col">
    Linha 7 - Coluna 5
    </div>
    <div class="col">
    Linha 7 - Coluna 6
</div>
</div>
<div class="text-center"> 

    <h1 class="display-4">Taxonomia de Bloom</h1>
    <form>
        Digite o verbo <input type="text">
        <button>Cadastrar</button>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">               
                Selecione o verbo
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Memorizar</a></li>
                <li><a class="dropdown-item" href="#">Compreender</a></li>
                <li><a class="dropdown-item" href="#">Aplicar</a></li>
                <li><a class="dropdown-item" href="#">Avaliar</a></li>
                <li><a class="dropdown-item" href="#">Criar</a></li>
            </ul>
            
        </div>
    </form>
</div>